    <!-- Header -->
    <header>
        <div id="home" class="container">
            <div class="intro-text" style="padding-top: 200px;">
                <div class="row">
                <div class="intro-heading">An Artificial Intelligence</div>
                    <div class="col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" 
                            src="hhttp://www.qygjxz.com/data/out/229/3833568-Jane-wallpaper.jpg"
                            frameborder="1" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-top: 100px">
                        <div class="intro-lead-in">Changing the Game one Line at a time</div>
                        <a href="documentation" class="btn btn-primary">Read More Below</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
